.div0{
    width:500px;
    margin:auto;
    padding:5px;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color:bisque;}
h1{border-bottom:3px solid blue;
text-align:center
}
body{
    background-color:blueviolet;
}